.cell {
  margin-bottom: 10px;
  width: 100%;
  height: 100%;
  stroke: #d0d0d8;
}
.cell.active {
  stroke: #ff8b37;
}
.text.active {
  stroke: #ff8b37;
}
.text.comming {
  stroke: #0000;
}
.text.passed {
  stroke: #d0d0d8;
}
